/*움직이는 메뉴버튼*/
input[id="menuicon"]{
	display:none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label{
	display:block;
	width:60px;
	height:40px;
	position:fixed;
	right:4%;
	top: 9%;
	z-index:3;
	transition:all 0.5s;
	cursor:pointer;
}
.m_logo{
	display:block;
	position:fixed;
	left: 4%;
	top: 6%;
	z-index:3;
	transition:all 0.5s;
	cursor:pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span{
	background:#fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span{
	display:block;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background:#e66e26;
	transition:all 0.5s;
}
input[id="menuicon"]+label span:nth-child(1){
	top:0;
}
input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


/*메뉴 창*/
.sidebar{
	width:50%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.7);
	position:fixed;
	top:0;
	right:-100%;
	z-index: 2;
	transition:all 0.5s;
}
input[id="menuicon"]:checked+label+div{
	right:0;
}

.sidebar ul{
	margin: 40% 0 0 10%;
}
.sidebar ul li{
	margin-bottom: 10%;
}
.sidebar ul li a{
	color: #fff;
	font-size: 130%;
}

.m_logo{
	width: 50%;
}
.m_logo img{
    max-width: 100%;
}

@media (max-width: 600px){
	input[id="menuicon"]+label{
		width:50px;
		height:35px;
	}
	input[id="menuicon"]+label{
		top: 4.5%;
	}
	.m_logo{
		top: 3%;
	}
}

@media (max-width: 400px){
	input[id="menuicon"]+label{
		width:40px;
		height:30px;
	}
	input[id="menuicon"]+label{
		top: 4%;
	}
}